*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #CD5A91;
}

.container{
  padding: 12px;
}

.box{
  display: flex;
  gap: 12px;
}

.item{
  background-color: black;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  color: #B6C2CF;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.item_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_top span{
  padding: 6px 12px 14px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.item_top button{
  background: none;
  border: none;
  cursor: pointer;
  margin: 8px;
}

.item_mid input{
  background-color: #22272b;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
  color: #B6C2CF;
  outline: none;
}

.item_bot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.item_bot button{
  background: none;
  border: none;
  color: #9FADBC;
  padding: 12 px 8px 0 8px;
  cursor: pointer;
}

.item_bot img{
  cursor: pointer;
}

.add_column{
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.24);
  height: fit-content;
  text-align: left;
}

.add_column button{
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 10px;
}