* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #cd5a91;
}
header {
  width: 100%;
  padding: 8px 12px;
  border-bottom: 0.8px solid rgba(159, 173, 188, 0.16);
  background: #1d2125;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    gap: 24px;
    .logo {
      display: flex;
      align-items: center;
      gap: 14px;
    }
    .btns {
      display: flex;
      gap: 26px;
      button {
        border: 0;
        display: flex;
        gap: 6.3px;
        align-items: center;
        background-color: transparent;
        color: #9fadbc;
        font-size: 13.781px;
        font-weight: 500;
        line-height: 32px;
      }
    }
    .create {
      color: #1d2125;
      text-align: center;
      font-size: 13.344px;
      font-weight: 600;
      background-color: rgb(0, 160, 255);
      border: 0;
      padding: 0px 11.59px 0px 11.79px;
      border-radius: 5px;
      line-height: 32px;
    }
  }
  .right {
    display: flex;
    gap: 8px;
    align-items: center;
    .searcher {
      position: relative;
      img {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 24%;
        left: 5%;
      }
      input {
        width: 220px;
        height: 32px;
        border-radius: 5px;
        border: 1px solid rgba(166, 197, 226, 0.16);
        color: #8c9bab;
        background: #22272b;
        display: flex;
        font-size: 14px;
        padding: 6.8px 12.8px 6.8px 30.8px;
      }
    }
    .user_info {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }
}
.acc_logo {
  border-radius: 100%;
  color: lightgray;
  background-color: orangered;
  width: 30px;
  padding-left: 10px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
aside {
  position: relative;
  width: 20%;
  transition: 0.8s;
  .aside {
    width: 100%;
    position: relative;
    background-color: #1d2125;
    height: 100vh;
    transition: 0.6s;
    color: #9fadbc;
    .prodigy {
      padding: 8px 12px;
      display: flex;
      border-bottom: 0.8px solid rgba(159, 173, 188, 0.16);
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      p {
        color: #1d2125;
        height: 35px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        background: linear-gradient(180deg, #4bce97 0%, #216e4e 100%);
      }
      ul {
        li {
          color: #9fadbc;
          line-height: 20px;
        }
        li:nth-child(1) {
          font-size: 14px;
          font-weight: 600;
        }
        li:nth-child(2) {
          font-size: 11.25px;
        }
      }
    }
    ol {
      margin: 18px 13px 0px 16px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        span {
          display: flex;
          gap: 12px;
          align-items: center;
          .bg_div {
            border-radius: 2px;
            opacity: 0.7;
            background: #cd5a91;
            box-shadow: 0px 0px 0px 0.5px rgba(159, 173, 188, 0.16);
            height: 20px;
            width: 25px;
          }
        }
      }
      li:nth-child(3n + 4) {
        max-width: 246px;
        color: #9fadbc;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.042px;
      }
    }
  }
}

.contentFlex {
  transition: 0.8s;
  width: 80% !important;
}

.lower_header {
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  padding: 10px 0 12px;
  align-items: center;
}

.lower_header .left_header {
  padding: 18px 10px 12px;
  display: flex;
}

.left_header_p {
  margin-right: 22px;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.left_header img {
  margin-top: 3px;
  margin-left: 20px;
  width: 26px;
  height: 26px;
}

.options {
  margin-left: 13px;
  display: flex;
  min-width: 32px;
  max-width: 400px;
  padding: 0px 12.11px 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  background-color: white;
}

.options img {
  width: 26px;
  height: 26px;
}

.options p {
  color: #172b4d;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 230.371% */
}

.right_header {
  align-items: center;
  text-align: right;
  justify-content: right;
  display: flex;
  position: absolute;
  right: 0;
}

.right_header img {
  width: 26px;
  height: 26px;
  margin-left: 20px;
}

.right_header .menu_filter {
  display: flex;
}

.right_header .menu_filter p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 146.286% */
  margin-left: 8px;
}

.arrow_two {
  font-size: 32px;
  font-weight: 800;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.16);
}

.acc {
  display: flex;
  .acc_logo{
    width: 48px;
    height: 48px;
    font-size: 26px;
    padding-left: 16px;
    margin-inline: 12px;
  }
}
.add_acc {
  display: flex;
  height: 32px;
  max-width: 400px;
  padding: 5.8px 12px 6.2px 8px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: white;
  margin-top: 8px;
  margin-left: 7px;
  border-radius: 8px;
}

.add_acc img {
  width: 26px;
  height: 26px;
}

.add_acc p {
  color: #172b4d;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 146.286% */
}

.right_header .share_dots {
  width: 30px;
  height: 30px;
  margin-right: 22px;
}
.content {
  width: 100%;
  position: absolute;
  right: 0;
  transition: 0.8s;
  top: 50px;
}

.container {
  position: relative;
}

.open_aside {
  background-color: transparent;
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  z-index: 10;
  background-color: #22272b;
  border-radius: 100%;
  right: -15px;
}

.hide_aside {
  transition: 1s;
  opacity: 0;
}
.hide_main {
  transition: 1s;
  width: 0%;
}
.hide {
  display: none;
}
#show {
  opacity: 1 !important;
}
.close_aside {
  background-color: transparent;
}

.container_min_width {
  transition: 1s;
  width: 80.7% !important;
}
.box {
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 20px 10px 20px;
}

.item {
  background-color: black;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  color: #b6c2cf;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.item_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_top span {
  padding: 6px 12px 14px 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.item_top button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 8px;
}

.item_mid input {
  background-color: #22272b;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;
  color: #b6c2cf;
  outline: none;
}

.item_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.item_bot button {
  background: none;
  border: none;
  color: #9fadbc;
  padding: 12 px 8px 0 8px;
  cursor: pointer;
}

.item_bot img {
  cursor: pointer;
}

.add_column {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.24);
  height: fit-content;
  text-align: left;
}

.add_column button {
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 10px;
}
